.App {
  font-family: sans-serif;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.custom-buttons button {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-right: 12px;
}


